<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Jobseeker</title>
</head>
<body>
    <h1>Register as Jobseeker</h1>
    <form action="/jobseeker/" method="POST">
        <label for="name">Full Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="major">Major:</label><br>
        <input type="text" id="major" name="major"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="number">Contact Number:</label><br>
        <input type="text" id="number" name="number"><br>
        <label for="exprience">Experience (in years):</label><br>
        <input type="text" id="exprience" name="exprience"><br>
        <label for="name_company">Current Company Name:</label><br>
        <input type="text" id="name_company" name="name_company"><br>
        <label for="field_work">Field of Work:</label><br>
        <input type="text" id="field_work" name="field_work"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
