<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Company</title>
</head>
<body>
    <h1>Register as Company</h1>
    <form action="/company/" method="POST">
        <label for="name">Company Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="detail_company">Company Details:</label><br>
        <textarea id="detail_company" name="detail_company"></textarea><br>
        <label for="number">Contact Number:</label><br>
        <input type="text" id="number" name="number"><br>
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
